$fontText: 'Nunito Sans',
sans-serif;
$fontTitle: 'Montserrat',
sans-serif;
$tamDashboard: 100px;
$fondoBlanco: rgb(250, 250, 250);
$fondoDash: rgb(75, 75, 75);
$fondoGris: rgb(200, 200, 200);
$fondoGrisOscuto: rgb(150, 150, 150);
$negroTexto: rgb(15, 15, 15);
.contPost {
    margin-top: 45px;
    width: 100%;
    .post {
        width: 100%;
        margin-top: 25px;
        >h2 {
            width: 100%;
            font-family: $fontTitle;
            font-size: 28px;
        }
        >p {
            margin-top: 10px;
            text-align: justify;
            width: 100%;
            font-family: $fontText;
            font-size: 14px;
        }
        .cont {
            width: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: stretch;
            align-items: center;
            .contPostTags {
                order: 0;
                flex: 0 1 auto;
                align-self: auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-content: stretch;
                align-items: flex-start;
                margin-top: 10px;
                .postTags {
                    order: 0;
                    flex: 0 1 auto;
                    align-self: auto;
                    width: auto;
                    margin-right: 15px;
                    padding: 5px 15px;
                    background-color: $fondoGris;
                    border-radius: 5px;
                    font-family: $fontText;
                    color: $negroTexto;
                    font-size: 10px;
                    font-weight: 700;
                }
            }
            .starButton {
                margin-top: 10px;
                order: 0;
                flex: 0 1 auto;
                align-self: auto;
                background-color: $fondoGrisOscuto;
                width: 20px;
                height: 20px;
                &:hover {
                    background-color: $fondoGris;
                }
            }
        }
        &::after {
            margin-top: 25px;
            display: block;
            content: "";
            background-color: $fondoGrisOscuto;
            height: 2px;
            width: 100%;
        }
    }
}