$fontText: 'Nunito Sans',
sans-serif;
$fontTitle: 'Montserrat',
sans-serif;
$tamDashboard: 100px;
$fondoBlanco: rgb(250, 250, 250);
$fondoDash: rgb(75, 75, 75);
$fondoGris: rgb(200, 200, 200);
$fondoGrisOscuto: rgb(150, 150, 150);
$negroTexto: rgb(15, 15, 15);
.appCont {
    width: 100%;
    padding-top: 50px;
    >h2 {
        width: 100%;
        font-family: $fontTitle;
        font-size: 22px;
        font-weight: 700;
        color: $negroTexto;
    }
    #inputBuscar {
        padding: 22px 20px;
        width: 95%;
        margin: 10px 0;
        height: 35px;
        border-radius: 5px;
        background-color: $fondoGris;
        font-family: $fontText;
        border: none;
        &:focus {
            outline: none;
        }
    }
    .contTags {
        margin-top: 10px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
        .tag {
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            width: auto;
            margin-right: 15px;
            padding: 12px 25px;
            background-color: $fondoGris;
            border-radius: 5px;
            font-family: $fontText;
            color: $negroTexto;
            font-size: 14px;
            font-weight: 700;
        }
    }
}